.container {
  margin-top: 40px;
  text-align: center;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(9, 10, 9);
  padding: 20px;
  background-color: #d6dfeb;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  max-width: 900px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.container > :first-child {
  border-right: 2px solid rgb(255, 255, 255); 
}
h2{
  text-transform: uppercase;
  color:rgb(30, 6, 85);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 20px;
  font-size: 1.7rem;
}
h4{
  color:rgb(30, 6, 85);
  font-size: 1.2rem;
  margin-top:10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.form-container {
  padding: 20px;
}
.image-container {
  display: flex;
  flex: 1;
}

.job-form {
  width: 100%; 
  max-width: 400px; 
}
.description-container {
  flex: 1; 
}
.description-container .p{
  margin-bottom: 10px;
  line-height: 1.5;
}

.terms {
  font-size: 0.8rem;
}

.custom-button {
  background-color: #1d021d;
  color: rgb(220, 220, 221);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.custom-button:hover {
  background-color: #463a45;
}

input[type="text"],
input[type="file"],
input[type="checkbox"],
select {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type="text"]:focus,
input[type="file"]:focus,
input[type="checkbox"]:focus,
select:focus {
  outline: none;
  border-color: #1c083d;
  box-shadow: 0 0 5px rgba(31, 8, 83, 0.5);
}

input[type="file"] {
  background-color: #f8f9fa; 
}

.description-text {
  text-align: justify;
  text-indent: 20px;
  font-family:Arial, Helvetica, sans-serif;
}
.terms {
  display: flex;
  align-items: center;
  justify-content: space-between; 
}
.description-text p {
  margin-bottom: 10px; 
  line-height: 1.5; 
}
.skills-list {
  text-align: left; 
}

.skills {
  list-style-type: none; 
  padding-left: 0;
}
.butonas {
  background-color: #293a72;
  color: white;
  cursor: pointer;
  margin-left:20px;
  margin-top:30px;
}
.butonas:hover{
  background-color: #5d6380;
}