.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 310px;
  display: flex;
  flex-direction: column;
}

.card img {
  width: 80%;
  height: 150px;
  object-fit: contain;
  margin: auto; 
}

.card-body {
  padding: 10px;
  flex-grow: 1;
}

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 10px; 
}

.card-text {
  font-size: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.icon {
  background-image: url('https://freesvg.org/img/location_icon.png');
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 25px;
}

.btn-apply {
  width: 100%;
  margin-top: 24px;
}

.btn-apply:hover { 
  background-color: blue;
  color: rgb(255, 255, 255);
}
.header {
  text-align: center;
  margin-bottom: 30px;
  padding: 20px;
  background-color: #f8f9fa;
  
}
h2{
    color:rgb(47, 55, 119);
  font-size:2.5rem;
  text-align: center;
  cursor: pointer;
  padding:40px;
  cursor: pointer;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.butonas {
  background-color: #293a72;
  color: white;
  cursor: pointer;
  margin-left:20px;
}
.butonas:hover{
  background-color: #5d6380;
}