.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  height: 400px; /* Înlocuiește cu înălțimea dorită a cardului */
}

.card img {
  width: 100%; /* Ajustează la lățimea dorită */
  height: 200px; /* Ajustează la înălțimea dorită */
  object-fit: cover; /* Asigură că imaginea este întotdeauna complet vizibilă */
}

.card-body {
  padding: 10px;
}

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 3rem; /* Ajustează la înălțimea dorită a titlului */
}

.card-text {
  font-size: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.icon {
  background-image: url('https://freesvg.org/img/location_icon.png');
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 25px;
}
